workflows/Agent 7 - RAG Evaluation subworkflow.json
{
  "name": "Agent 7 - RAG Evaluation subworkflow",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"incident_id\": \"INC-1001\",\n  \"title\": \"Database connection timeout\",\n  \"description\": \"Users cannot login\",\n  \"knowledge\": \"Restart DB service. Check connection pool.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -96
      ],
      "id": "3175c724-f150-42f1-a25d-a5a495802704",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -96
      ],
      "id": "c89cd91d-6239-47ac-b4c4-253a799e4ead",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate the retrieved knowledge.\n\nIncident\n\nIncident ID:\n{{$json.incident_id}}\n\nTitle:\n{{$json.title}}\n\nDescription:\n{{$json.description}}\n\nService:\n{{$json.service}}\n\nSeverity:\n{{$json.severity}}\n\nPriority:\n{{$json.priority}}\n\nRetrieved Knowledge\n\n{{$json.knowledge}}\n\nEvaluate the retrieval quality and return structured JSON only.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Enterprise RAG Evaluation Agent\n\n## Role\n\nYou are an Enterprise Knowledge Quality Evaluation Agent.\n\nYour responsibility is to evaluate whether the retrieved knowledge is suitable for resolving the given IT incident.\n\nEvaluate ONLY the retrieved knowledge.\n\nDo not invent any information.\n\n---\n\n## Evaluation Criteria\n\nEvaluate the knowledge based on:\n\n1. Relevance\n- Does the knowledge match the incident?\n\n2. Completeness\n- Does it provide enough information?\n\n3. Accuracy\n- Does it appear technically correct?\n\n4. Actionability\n- Can an engineer use it to solve the issue?\n\n---\n\n## Retrieval Quality Rules\n\nExcellent\n- Highly relevant\n- Complete\n- Actionable\n- Very accurate\n\nGood\n- Relevant\n- Mostly complete\n- Minor missing details\n\nFair\n- Partially relevant\n- Missing important information\n\nPoor\n- Not relevant\n- Empty\n- Unusable\n\n---\n\n## Confidence Rules\n\nExcellent → 0.90 - 1.00\n\nGood → 0.70 - 0.89\n\nFair → 0.40 - 0.69\n\nPoor → 0.00 - 0.39\n\n---\n\n## Decision Rules\n\nknowledge_relevant\n\ntrue\n- if retrieved knowledge directly relates to the incident\n\nfalse\n- otherwise\n\nknowledge_complete\n\ntrue\n- enough information to solve the issue\n\nfalse\n- important information missing\n\nrecommendation\n\nIf Excellent or Good\n\n\"Proceed\"\n\nIf Fair\n\n\"Improve Retrieval\"\n\nIf Poor\n\n\"Retry Retrieval\"\n\nNever return explanations.\n\nReturn ONLY valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -96
      ],
      "id": "a1edad33-9732-4a5c-9170-aea0765a265a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"retrieval_quality\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Excellent\",\n        \"Good\",\n        \"Fair\",\n        \"Poor\"\n      ]\n    },\n    \"knowledge_relevant\": {\n      \"type\": \"boolean\"\n    },\n    \"knowledge_complete\": {\n      \"type\": \"boolean\"\n    },\n    \"recommendation\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Proceed\",\n        \"Improve Retrieval\",\n        \"Retry Retrieval\"\n      ]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    }\n  },\n  \"required\": [\n    \"retrieval_quality\",\n    \"knowledge_relevant\",\n    \"knowledge_complete\",\n    \"recommendation\",\n    \"confidence\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        160
      ],
      "id": "affe9a35-c5d6-4663-8c90-53d115632c43",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        112
      ],
      "id": "c5e8ec99-d160-495a-8cc5-e05a29343ff5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xo5QTVbkBE5petum",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9262f02e-a503-4619-a39e-e05618cd7fd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d445741768728f6ef02e0425470dc298a89577d75c26d14dd2b68dfd38dddc0"
  },
  "nodeGroups": [],
  "id": "qiDnDqzaYfiUTDX9",
  "tags": []
}