workflows/Agent 9 - Hallucination Detection subworkflow.json
{
  "name": "Agent 9 - Hallucination Detection subworkflow",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"incident_id\":\"={{$json.incident_id}}\",\n  \"title\":\"={{$json.title}}\",\n  \"description\":\"={{$json.description}}\",\n  \"service\":\"={{$json.service}}\",\n  \"incident_type\":\"={{$json.incident_type}}\",\n  \"category\":\"={{$json.category}}\",\n  \"severity\":\"={{$json.severity}}\",\n  \"summary\":\"={{$json.summary}}\",\n  \"possible_causes\":\"={{$json.possible_causes}}\",\n  \"recommended_runbook\":\"={{$json.recommended_runbook}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -96
      ],
      "id": "10af5c2a-b562-451d-9daa-3f0813f8ac09",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -96
      ],
      "id": "a8489fc9-43cf-459d-9cc1-98bf8d04573a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Incident ID:\n{{$json.incident_id}}\n\nTitle:\n{{$json.title}}\n\nDescription:\n{{$json.description}}\n\nKnowledge Summary:\n{{$json.summary}}\n\nPrimary Root Cause:\n{{$json.primary_root_cause}}\n\nTechnical Explanation:\n{{$json.technical_explanation}}\n\nRecommended Resolution:\n{{$json.recommended_resolution}}\n\nResolution Category:\n{{$json.resolution_category}}\n\nDetermine whether the generated analysis and recommendation are fully supported by the retrieved enterprise knowledge.\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Enterprise Hallucination Detection Agent\n\n## Role\n\nYou are an Enterprise AI Hallucination Detection Agent.\n\nYour responsibility is to verify whether the AI-generated analysis and recommendations are supported by the available enterprise knowledge.\n\nYou are part of an Enterprise Multi-Agent AI Incident Resolution System.\n\n---\n\n## Objective\n\nAnalyze the AI-generated outputs and determine:\n\n- Hallucination Detected\n- Evidence Supported\n- Validation Status\n- Recommendation\n- Confidence Score\n\n---\n\n## Validation Rules\n\nCompare the following:\n\n- Incident Details\n- Retrieved Knowledge\n- Root Cause Analysis\n- Resolution Recommendation\n\nDetermine whether the generated information is supported by the retrieved enterprise knowledge.\n\n---\n\n## Hallucination Rules\n\nHallucination exists when:\n\n- A root cause is invented without evidence.\n- A resolution is recommended without knowledge support.\n- Technical claims are unsupported.\n- The runbook does not justify the recommendation.\n\nIf evidence is insufficient:\n\nHallucination Detected = true\n\nRecommendation = Human Review\n\n---\n\n## Validation Status\n\nChoose ONLY one.\n\n- Verified\n- Partially Verified\n- Not Verified\n\n---\n\n## Recommendation\n\nChoose ONLY one.\n\n- Continue\n- Human Review\n- Retry Retrieval\n\n---\n\n## Confidence\n\nReturn a decimal value between\n\n0.00\n\nand\n\n1.00\n\n---\n\n## Output Rules\n\nReturn ONLY valid JSON.\n\nNo markdown.\n\nNo explanations.\n\nNo code blocks.\n\n---\n\n## Required JSON\n\n{\n  \"hallucination_detected\": false,\n  \"evidence_supported\": true,\n  \"validation_status\": \"\",\n  \"recommendation\": \"\",\n  \"confidence\": 0.00\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -96
      ],
      "id": "6b1c8a29-19b2-4085-a4c2-7df3f4c2a063",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"hallucination_detected\": {\n      \"type\": \"boolean\"\n    },\n    \"evidence_supported\": {\n      \"type\": \"boolean\"\n    },\n    \"validation_status\": {\n      \"type\": \"string\"\n    },\n    \"recommendation\": {\n      \"type\": \"string\"\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    }\n  },\n  \"required\": [\n    \"hallucination_detected\",\n    \"evidence_supported\",\n    \"validation_status\",\n    \"recommendation\",\n    \"confidence\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        160
      ],
      "id": "0457f6b0-70a9-42db-9eca-1b3f91a2dfd4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        112
      ],
      "id": "fe675ba8-73d4-4b32-b6a9-3517c7a41903",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xo5QTVbkBE5petum",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2294d37-b183-46b8-88a8-e79032fc9ea5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d445741768728f6ef02e0425470dc298a89577d75c26d14dd2b68dfd38dddc0"
  },
  "nodeGroups": [],
  "id": "kfquzKjNWakrpUxC",
  "tags": []
}