workflows/Agent 8 - Multi-Intent Detection subworkflow.json
{
  "name": "Agent 8 - Multi-Intent Detection subworkflow",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"incident_id\":\"={{$json.incident_id}}\",\n  \"title\":\"={{$json.title}}\",\n  \"description\":\"={{$json.description}}\",\n  \"service\":\"={{$json.service}}\",\n  \"incident_type\":\"={{$json.incident_type}}\",\n  \"category\":\"={{$json.category}}\",\n  \"severity\":\"={{$json.severity}}\",\n  \"summary\":\"={{$json.summary}}\",\n  \"possible_causes\":\"={{$json.possible_causes}}\",\n  \"recommended_runbook\":\"={{$json.recommended_runbook}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -96
      ],
      "id": "add64b0a-b2e4-45ee-9f1e-5886e33d21da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -96
      ],
      "id": "a1920ac5-c178-47d6-b8f6-4be09dd37f64",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Incident ID:\n{{$json.incident_id}}\n\nTitle:\n{{$json.title}}\n\nDescription:\n{{$json.description}}\n\nService:\n{{$json.service}}\n\nSeverity:\n{{$json.severity}}\n\nIncident Type:\n{{$json.incident_type}}\n\nDetermine whether this incident contains multiple independent technical issues.\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Enterprise Multi-Intent Detection Agent\n\n## Role\n\nYou are an Enterprise AI Multi-Intent Detection Agent.\n\nYour responsibility is to determine whether an incoming enterprise IT incident contains a single issue or multiple independent issues.\n\nYou are part of an Enterprise Multi-Agent AI Incident Resolution System.\n\n---\n\n## Objective\n\nAnalyze the incident and determine:\n\n- Intent Type\n- Number of Detected Intents\n- Detected Intents\n- Requires Workflow Split\n- Confidence Score\n\n---\n\n## Intent Type\n\nChoose ONLY one.\n\n- Single Intent\n- Multi Intent\n\n---\n\n## Workflow Split\n\nReturn ONLY\n\ntrue\n\nor\n\nfalse\n\n---\n\n## Rules\n\nTreat the incident as Multi Intent only if it contains two or more independent technical issues.\n\nExamples:\n\nSingle Intent\n\n- Payment API returns HTTP 500.\n\n- Primary database unavailable.\n\n- VPN authentication failing.\n\nMulti Intent\n\n- Payment API returns HTTP 500 and database latency is extremely high.\n\n- Users cannot login and email notifications are not being delivered.\n\n- Database outage together with network connectivity failures.\n\n---\n\n## Confidence\n\nReturn a decimal between\n\n0.00\n\nand\n\n1.00\n\n---\n\n## Output Rules\n\nReturn ONLY valid JSON.\n\nNo markdown.\n\nNo explanations.\n\nNo code blocks.\n\n---\n\n## Required JSON\n\n{\n  \"intent_type\": \"\",\n  \"intent_count\": 0,\n  \"detected_intents\": [],\n  \"requires_workflow_split\": false,\n  \"confidence\": 0.00\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -96
      ],
      "id": "03c7bc14-a45d-469c-8e2c-0cf33b636b24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent_type\": {\n      \"type\": \"string\"\n    },\n    \"intent_count\": {\n      \"type\": \"integer\"\n    },\n    \"detected_intents\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"requires_workflow_split\": {\n      \"type\": \"boolean\"\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    }\n  },\n  \"required\": [\n    \"intent_type\",\n    \"intent_count\",\n    \"detected_intents\",\n    \"requires_workflow_split\",\n    \"confidence\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        160
      ],
      "id": "3bac4e0f-331f-4aef-8579-243ffd06f29e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        112
      ],
      "id": "5346a780-45dc-4ea8-9c7e-100d812290b8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xo5QTVbkBE5petum",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fc6d668-5a4e-43da-9ee9-d51582e97aa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d445741768728f6ef02e0425470dc298a89577d75c26d14dd2b68dfd38dddc0"
  },
  "nodeGroups": [],
  "id": "qqG3v8qdOZl9x7Nu",
  "tags": []
}